.hero {
  background-color: white;
}

.heroElements {
  container-type: inline-size;
  container-name: hero-banner;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: px-to-rem(60);
  padding-bottom: px-to-rem(70);
  position: relative;
}

.heroPic {
  flex: 2 1 px-to-rem(400);
  max-width: px-to-rem(730);
  min-width: px-to-rem(400);
  width: 100%;
}

.heroTextContainer {
  flex: 1 1 px-to-rem(360);

  width: 100%;
  text-align: center;
  align-self: center;
  h1 {
    color: $neutral-veryDarkBlue;
    font-size: clamp(px-to-rem(42), calc(1.75rem + 2.5cqw), px-to-rem(80));
    letter-spacing: px-to-rem(-1.05);
    line-height: px-to-rem(90);
    margin-bottom: px-to-rem(15);
  }
  p {
    color: $neutral-grayishViolet;
    font-size: px-to-rem(18);
    letter-spacing: px-to-rem(0.12);
    line-height: px-to-rem(30);
    margin-bottom: px-to-rem(46);
  }
}

.formContainer {
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  width: 100%;
  background: url(../../assets/bg-shorten-mobile.svg) no-repeat right top;
  background-color: $primary-darkViolet;
  padding: px-to-rem(24);
  border-radius: 10px;
  form {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(16);

    input {
      line-height: 36px;
      padding: 6px 16px;
      border-radius: 5px;
      border: none;
    }
  }
}

@media (width >= px-to-rem(977)) {
  .heroPic {
    order: 2;
  }
  .heroTextContainer {
    order: 1;
    text-align: left;
  }
}
