@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
//FONT
$font-primary: "Poppins", sans-serif;

$font-weight-medium: 500;
$font-weight-bold: 700;

//COLORS

$primary-cyan: hsl(180, 66%, 49%);
$primary-darkViolet: hsl(257, 27%, 26%);

$secondary-red: hsl(0, 87%, 67%);

$neutral-gray: hsl(0, 0%, 75%);
$neutral-grayishViolet: hsl(257, 7%, 63%);
$neutral-veryDarkBlue: hsl(255, 11%, 22%);
$neutral-veryDarkViolet: hsl(260, 8%, 14%);

$text-menu-color-mobile: hsl(15, 0%, 100%);
