@use "./functions";
@use "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-primary;
}

#root {
  max-width: px-to-rem(1440);
  min-height: 100vh;
  overflow-x: hidden;
  background-color: white; // debug

  padding: 40px 24px;
}
