.ctaSection {
  margin-top: px-to-rem(80);
  padding: 90px 35px;
  text-align: center;
  background: url(../../assets/bg-boost-mobile.svg);
  background-size: cover;
  background-color: $primary-darkViolet;
}

.ctaContent {
  color: $text-color-btn;
  font-weight: $font-weight-bold;
  font-size: px-to-rem(18);
  letter-spacing: -0.7px;
  line-height: 48px;

  h2 {
    margin-bottom: 16px;
  }
}
