.ctaSection {
  margin-top: px-to-rem(80);
  padding: 90px 35px;
  padding: px-to-rem(90) px-to-rem(35);
  text-align: center;
  background: url(../../assets/bg-boost-mobile.svg);
  background-size: cover;
  background-color: $primary-darkViolet;
}

.ctaContent {
  color: $text-color-btn;
  font-weight: $font-weight-bold;
  font-size: px-to-rem(18);
  letter-spacing: px-to-rem(-0.7);
  line-height: px-to-rem(48);

  h2 {
    margin-bottom: px-to-rem(16);
  }
}

@media (width >= px-to-rem(1000)) {
  .ctaSection {
    background-image: url(../../assets/bg-boost-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
