.headerElements {
  // max-width: px-to-rem(1440);
  // margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navElements {
  z-index: 1000;
  font-size: px-to-rem(18);
  padding: 40px 24px;
  position: absolute;
  top: calc(100% + 20px);
  background-color: $primary-darkViolet;
  display: none;
  width: 100%;
  border-radius: 10px;
  // display: flex;
  // flex-direction: column;

  color: $text-color-btn;
  font-weight: $font-weight-bold;
  &.active {
    display: block;
  }
}

.nav {
  border-bottom: 1px solid $neutral-grayishViolet;

  ul {
    display: flex;
    flex-direction: column;

    text-align: center;
    list-style: none;
    gap: 30px;

    padding-bottom: 30px;
  }
}

.logBtnContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
  button {
    font-size: px-to-rem(18);
    color: $text-color-btn;
    font-weight: $font-weight-bold;
  }
  .loginBtn {
    border: none;
    background: none;
  }
  .signUpBtn {
    border: none;
    background-color: $primary-cyan;
    border-radius: 28px;
    padding: 12px 0;
  }
}

.menuBtn {
  background: none;
  border: none;
  .menuIcon {
    width: 24px;
    pointer-events: none;
  }
}

@media (width >= px-to-rem(750)) {
  .headerElements {
    gap: px-to-rem(45);
  }

  .menuBtn {
    display: none;
  }
  .navElements {
    padding: 0;
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
  }
  .nav {
    font-size: px-to-rem(15);
    border: none;
    ul {
      color: $neutral-grayishViolet;
      flex-direction: row;
      padding-bottom: 0;
    }
  }

  .logBtnContainer {
    flex-direction: row;
    padding-top: 0;

    .loginBtn {
      color: $neutral-grayishViolet;
    }
    .signUpBtn {
      padding: 8px 24px;
    }
  }
}
