.headerElements {
  max-width: px-to-rem(1440);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: px-to-rem(120);
}

.navElements {
  font-size: px-to-rem(18);
  padding: 40px 24px;
  position: absolute;
  top: calc(100% + 20px);
  background-color: $primary-darkViolet;
  display: none;
  width: 100%;
  border-radius: 10px;
  //   display: flex;
  //   flex-direction: column;

  color: $text-color-btn;
  font-weight: $font-weight-bold;
  &.active {
    display: block;
  }
}

.nav {
  border-bottom: 1px solid $neutral-grayishViolet;
  ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    list-style: none;

    gap: 30px;
    padding-bottom: 30px;
  }
}

.logBtnContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
  button {
    font-size: px-to-rem(18);
    color: $text-color-btn;
    font-weight: $font-weight-bold;
  }
  .loginBtn {
    border: none;
    background: none;
  }
  .signUpBtn {
    border: none;
    background-color: $primary-cyan;
    border-radius: 28px;
    padding: 12px 0;
  }
}

.menuBtn {
  background: none;
  border: none;
  .menuIcon {
    width: 24px;
    pointer-events: none;
  }
}
