header {
  padding-top: px-to-rem(50);
  padding-bottom: px-to-rem(50);
}
.headerElements {
  // max-width: px-to-rem(1440);
  // margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navElements {
  z-index: 1000;
  font-size: px-to-rem(18);
  padding: px-to-rem(40) px-to-rem(24);
  position: absolute;
  top: calc(100% + 20px);
  background-color: $primary-darkViolet;
  display: none;
  width: 100%;
  border-radius: 10px;
  // display: flex;
  // flex-direction: column;

  color: $text-color-btn;
  font-weight: $font-weight-bold;
  &.active {
    display: block;
  }
}

.nav {
  border-bottom: 1px solid $neutral-grayishViolet;

  ul {
    display: flex;
    flex-direction: column;

    text-align: center;
    list-style: none;
    gap: px-to-rem(30);

    padding-bottom: px-to-rem(30);
  }
}

.logBtnContainer {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(20);
  padding-top: px-to-rem(30);
}

.menuIcon {
  width: 24px;
  pointer-events: none;
}

@media (width > px-to-rem(790)) {
  .headerElements {
    gap: px-to-rem(45);
  }

  .navElements {
    padding: 0;
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
  }
  .nav {
    font-size: px-to-rem(15);
    border: none;
    ul {
      color: $neutral-grayishViolet;
      flex-direction: row;
      padding-bottom: 0;
    }
  }

  .logBtnContainer {
    flex-direction: row;
    padding-top: 0;

    // .signUpBtn {
    //   padding: 8px 24px;
    // }
  }
}
