.formSection {
  background: linear-gradient(to bottom, #ffffff 50%, #f0f0f0 50%);
  padding-top: 0;
}

.formContainer {
  background: url(../../assets/bg-shorten-mobile.svg) no-repeat right top;
  background-color: $primary-darkViolet;
  padding: px-to-rem(24);
  border-radius: 10px;
  form {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(16);
  }
}

.formGroup {
  flex: 1;
  display: grid;
  input {
    width: 100%;
    line-height: 36px;
    padding: 6px 16px;
    border-radius: 5px;
    border: none;
  }
  input.error {
    outline: 2px solid $secondary-red;
  }

  .errorMsg {
    color: $secondary-red;
  }
}

@media (width >= px-to-rem(1000)) {
  .formContainer {
    background-image: url(../../assets/bg-shorten-desktop.svg);
    background-size: 100% 100%;
    background-color: $primary-darkViolet;
    padding: px-to-rem(52) px-to-rem(64);
    form {
      flex-direction: row;
    }
  }
  .formGroup {
    position: relative;

    .errorMsg {
      position: absolute;
      top: 100%;
    }
  }
}
