footer {
  background-color: $primary-darkBlue;
  padding: px-to-rem(54) 0;
  display: grid;
  justify-items: center;
  text-align: center;
  color: white;
}

.footerContent {
  width: 100%;
  display: grid;
  gap: px-to-rem(48);
}

.listContainer {
  justify-content: center;
  display: grid;
  gap: px-to-rem(40);
}

.linksContainer {
  strong {
    display: inline-block;
    margin-bottom: px-to-rem(22);
  }

  ul {
    display: grid;
    gap: px-to-rem(10);
    letter-spacing: -0.23px;
  }
}

.social {
  place-self: center;
  display: flex;
  gap: px-to-rem(24);
}

@media (width >= px-to-rem(900)) {
  .footerContent {
    grid-template-columns: repeat(3, 1fr);
  }

  .listContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
